.form-field {
    display: flex;
    flex-direction: column;

}

.formwrapper{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
}


.title{
    padding-bottom: 20px;
    color: black;
}
body{
    background-color: red;
}

#user_name{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: black; /* Set text color to black */
}

#password{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: black; /* Set text color to black */
}

#submit{

    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6347;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}




#submit input[type="submit"]:hover {
    background-color: #d10000; /* Darker red color on hover */
}

.form-field-container {
    background-color: white; /* Add a white background color to the container */
    padding: 20px; /* Add padding to create a panel effect */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 400px; /* Adjust the width as needed */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form {
    color: black;
}

.errors li {
    color: black;
}

.form-field label {
    color: black;
}